h1{color: RED;}
    
    h2 {font-size: 0.5em;
        }
        #nineteen {font-weight: bold;}
        #nineteen {line-height: 1.5em;}
       p{  text-align: center;}
      body {font-size : 18px ;} 
    h3{color: ReD;}
    body {  background-color: pink }; 
   